body {
  font-family: "PingFang SC", "Hiragino Sans GB", Helvetica, Arial, sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #63B8FF;
}

code {
    color: #e96900;
}

strong {
    color: #e66161;
    /* font-size: 15px; */
}
em {
    color: #108f36;
}
